
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';

body {
  font-family: 'Open Sans', sans-serif;
  /*color: #6E060A;*/
}

h1 {
  margin: 1em 0 .8em 0;
  font-size: 1.5em;
  font-weight: 600;
  color: #FA0E17;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
  color: #FA0E17;
}

p {
  margin-bottom: .4em;
}

ul {
  font-size: .9em;
  color: gray;
  list-style: none; /* get rid of bullets to be replaced with li:before rule */
  padding-left: 1em;
}

li:before { /* set bullets to plus signs */
    content: "+";
    margin-right: 4px;
}

img {
  padding-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  border-top: 2px solid #ddd;
}

a {
  color: #6E060A;
}

a:hover {
  color: #FA0E17;
}

.jumbotron {
  background-color: #6E060A;
  background-image: url("../img/subtle_bg_01.png");
	background-repeat: repeat;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 1.3em;
}

.jumbotron h1 {
  margin: 0 0 .2em 0;
  font-size: 3em;
  color: white;
}

.jumbotron h2 {
  font-size: 2em;
  color: white;
}

.jumbo-stripe {
  background-color: #FA0E17;
  padding-top: .2em;
}

.jumbotron p {
  margin-top: .5em;
  font-size: 1.2em;
  color: white;
}

.jumbotron a {
  margin: 0 .5em 0 .5em;
  color: gray;
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

.jumbotron a:hover {
  color: white;
}

.footer-copyright {
  margin: 4em 0 2em 0;
  color: gray;
}

.row-app {
  margin-bottom: 2em;
}

.col-app {
  margin-bottom: 2em;
}

.btn-web-app {
  padding: .5rem .75rem;
  font-size: .9rem;
  border-radius: .2rem;
}

.contact a {
  color: #373a3c;
}

.contact-icons {
  margin-top: .7em;
}

.contact-icons a {
  margin-right: 1em;
  color: gray;
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

.contact-icons a:hover {
  color: #373a3c;
}

footer a {
  color: gray;
}

footer a:hover {
  color: #373a3c;
}
